body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    background-color: rgb(126, 72, 168);
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    margin-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#name-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: fit-content;
}

#name {
    padding: 6px;
    border: 1px solid #ddd;
    margin-right: 10px;
    text-align: center;
}

#name:focus {
    outline: none;
    border: 1px solid #aaa;
}

button {
    padding: 6px 16px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #333;
}